/*______ Main Fonts ______*/

@font-face {
  font-family: 'Arial';
  src: url('../fonts/arial/ArialRoundedMTProCyr.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Arial';
  src: url('../fonts/arial/ArialRoundedMTProCyr-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto-regular';
  src: url('../fonts/roboto/roboto-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

/*______ Icomoon Fonts ______*/

/*______ Elements ______*/

body,
table {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

a:hover {
  text-decoration: underline;
}

svg {
  -webkit-transition: fill .3s linear;
  -o-transition: fill .3s linear;
  -moz-transition: fill .3s linear;
  transition: fill .3s linear;
}

html.uk-touch body *.uk-invisible {
  display: block !important;
  opacity: 1 !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  animation: none !important;
  visibility: visible !important;
}

.uk-container {
  margin: 0 auto;
  max-width: 1170px;
}

footer {
  font-family: 'Arial';
  font-weight: 700;
}

/*______ PAGE HEADER ______*/

/* PAGE CONTENT */

/*______ PAGE FOOTER ______*/

/*______ SLIDERS ______*/

/*______ MODALS WINDOWS ______*/

/*______ FORMS ______*/

@media (min-width: 0) {
  html.uk-touch body [class*=uk-animation-] {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
}

@media (min-width: 768px) {
  html.uk-touch body [class*=uk-animation-] {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
}

@media (min-width: 960px) {
  .uk-container {
    padding: 0 15px;
  }
}