/*______ PAGE HEADER ______*/

.header {
	&__top {
		margin-bottom: -15px;
		padding-top: 20px;
		a.logo {
			display: block;
			text-align: center;
			img {
				display: inline;
			}
		}
	}
	&__bottom {
		background-color: #78b66e;
	}
}

.company-name {
	margin-left: 30px;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	color: #989898;
	.font(400);
}

.contacts {
	&__top {
		margin-bottom: 10px;
		color: #989898;
		font-size: 12px;
		.font(400);
	}
	.tel {
		margin-right: 20px;
		display: inline-block;
		vertical-align: middle;
		a {
			position: relative;
			color: #000000;
			font-size: 13px;
			.font(700);
			&:first-child {
				margin-right: 15px;
			}
		}
	}
	.btn {
		height: 30px;
		line-height: 28px;
		vertical-align: middle;
	}
}

.catalog-nav,
.catalog-nav-menu-wrapper {
	.clearfix();
}
.catalog-nav-menu-wrapper {
	position: relative;
	margin-right: 35px;
	padding: 15px 0;
	width: 30px;
	height: 60px;
	display: table-cell;
	vertical-align: middle;
	float: left;
	.uk-dropdown {
		margin-top: 0;
		background: #ffffff;
		box-shadow: 0 5px 30px rgba(0, 0, 0, 0.07);
	}
	ul.catalog-nav__sublist {
		position: static;
		padding: 20px 0;
		opacity: 1;
		visibility: visible;
		z-index: 20;
		min-width: auto;
		box-shadow: none;
	}
	&.uk-open {
		.catalog-nav-menu {
			span {
				background-color: transparent;
				&:before {
					transform: rotate(45deg);
				}
				&:after {
					transform: rotate(-45deg);
				}
			}
		}
	}
}
.catalog-nav-menu {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 30px;
	line-height: 34px;
	text-align: center;
	background-color: #ffffff;
	border-radius: 50%;
	font-size: 0;
	&:hover {
		text-decoration: none;
	}
	span {
		position: relative;
		width: 20px;
		height: 3px;
		display: inline-block;
		background-color: #4a4a4a;
		transition: transform .3s, background-color .3s linear;
		&:before,
		&:after {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			display: block;
			width: 100%;
			width: 20px;
			height: 3px;
			display: inline-block;
			background-color: #4a4a4a;
			transition: transform .2s linear;
		}
		&:before {
			transform: translateY(-6px);
		}
		&:after {
			transform: translateY(6px);
		}
	}
}

.catalog-nav-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	&>li {
		position: relative;
		height: 60px;
		line-height: 60px;
		&:last-child {
			ul {
				left: auto;
				right: 0;
			}
		}
		&>a {
			position: relative;
			padding-right: 20px;
			color: #ffffff;
			font-size: 14px;
			font-family: 'Arial' !important;
			font-weight: 700;
			&:before {
				position: absolute;
				top: 4px;
				right: 0;
				font-family: 'icomoon' !important;
				font-size: 6px;
				background-color: #e6e6e6;
				width: 10px;
				height: 10px;
				text-align: center;
				line-height: 10px;
				border-radius: 50%;
				color: #67bd2d;
			}
		}
		&:hover {
			.catalog-nav__sublist {
				z-index: 200;
				transform: translateY(0%);
				opacity: 1;
				visibility: visible;
			}
		}
	}
}


.catalog-nav__sublist {
	position: absolute;
	top: 100%;
	left: 0;
	margin: 0;
	padding: 30px;
	width: 100%;
	min-width: 310px;
	list-style-type: none;
	background-color: #ffffff;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.07);
	transform: translateY(-5%);
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	transition: all .3s ease;
	li {
		padding: 10px 0;
		height: auto;
		line-height: 1;
		a {
			color: #666666;
			font-size: 14px;
			line-height: 14px;
			font-weight: 700;
			font-family: @mainFont;
		}
	}
}

