{% block content %}
<header class="header">

	<!-- begin header__top -->
	<div class="header__top">
			<div class="uk-container">
				<div class="uk-grid">
					<div class="uk-width-4-10">
						<div class="soc-links">
							<a href="" class="soc-link icon-vk"></a>
							<a href="" class="soc-link icon-instagram"></a>
							<a href="" class="soc-link icon-facebook"></a>
							<a href="" class="soc-link icon-youtube"></a>
						</div>
						<div class="company-name">Детский центр развития и фитнеса</div>
						<nav class="nav">
							<a href="/about-us">О нас</a>
							<a href="/price">Услуги и цены</a>
							<a href="/reviews">Отзывы</a>
							<a href="">Расписание</a>
						</nav>
					</div>
					<div class="uk-width-2-10">
						<a href="/" class="logo">
							<img src="img/logo.png" alt="">
						</a>
					</div>	
					<div class="uk-width-4-10">
						<div class="contacts">
							<div class="contacts__top">
								 <span class="contacts__address">
										г. Люберцы, Октябрский пр.1 
								 </span>
								 <span class="contacts__timework">
										пн-пт: 9:00-20:00  сб-вс: 10:00-18:00
								 </span>
							</div>
							<div class="contacts__bottom">
								<div class="tel">
									<a href="tel:+74957967479">8 (495) 796 74 79</a>
									<a href="tel:+74957967479">8 (495) 796 74 79</a>
								</div>
								<a href="" class="btn">Заказать звонок</a>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
	<!-- end header__top -->

	<!-- begin header__bottom -->
		<div id="header__bottom" class="header__bottom">
			<div class="uk-container">
				<div id="catalog-nav" class="catalog-nav">
					<div class="catalog-nav-menu-wrapper" data-uk-dropdown="{mode:'click', justify:'#header__bottom'}">
						<a href="" class="catalog-nav-menu">
							<span class="lines"></span>
						</a>
							<div class="uk-dropdown">
								<div class="uk-container">
									<ul class="uk-grid">
										<li class="uk-width-1-4">
											<ul class="catalog-nav__sublist">
												<li><a href="#">Познавательное развитие</a></li>
												<li><a href="#">Комплексные развивающие занятия</a></li>
												<li><a href="#">Художественно-творческое развитие</a></li>
												<li><a href="#">Музыка вместе с мамой</a></li>
												<li><a href="#">Студия киномастерства</a></li>
												<li><a href="#">Театральная студия</a></li>
											</ul>
										</li>
										<li class="uk-width-1-4">
											<ul class="catalog-nav__sublist">
												<li><a href="#">Познавательное развитие</a></li>
												<li><a href="#">Комплексные развивающие занятия</a></li>
												<li><a href="#">Художественно-творческое развитие</a></li>
												<li><a href="#">Музыка вместе с мамой</a></li>
												<li><a href="#">Студия киномастерства</a></li>
												<li><a href="#">Театральная студия</a></li>
											</ul>
										</li>
										<li class="uk-width-1-4">
											<ul class="catalog-nav__sublist">
												<li><a href="#">Познавательное развитие</a></li>
												<li><a href="#">Комплексные развивающие занятия</a></li>
												<li><a href="#">Художественно-творческое развитие</a></li>
												<li><a href="#">Музыка вместе с мамой</a></li>
												<li><a href="#">Студия киномастерства</a></li>
												<li><a href="#">Театральная студия</a></li>
											</ul>
										</li>
										<li class="uk-width-1-4">
											<ul class="catalog-nav__sublist">
												<li><a href="#">Познавательное развитие</a></li>
												<li><a href="#">Комплексные развивающие занятия</a></li>
												<li><a href="#">Художественно-творческое развитие</a></li>
												<li><a href="#">Музыка вместе с мамой</a></li>
												<li><a href="#">Студия киномастерства</a></li>
												<li><a href="#">Театральная студия</a></li>
											</ul>
										</li>
										<li class="uk-width-1-4">
											<ul class="catalog-nav__sublist">
												<li><a href="#">Познавательное развитие</a></li>
												<li><a href="#">Комплексные развивающие занятия</a></li>
												<li><a href="#">Художественно-творческое развитие</a></li>
												<li><a href="#">Музыка вместе с мамой</a></li>
												<li><a href="#">Студия киномастерства</a></li>
												<li><a href="#">Театральная студия</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
					</div>
					<ul class="catalog-nav-list">
						<li class="catalog-nav__item">
							<a href="#" class="icon-arrow-down">Для детей от 1-3 лет</a>
							<ul class="catalog-nav__sublist">
								<li><a href="#">Познавательное развитие</a></li>
								<li><a href="#">Комплексные развивающие занятия</a></li>
								<li><a href="#">Художественно-творческое развитие</a></li>
								<li><a href="#">Музыка вместе с мамой</a></li>
								<li><a href="#">Студия киномастерства</a></li>
								<li><a href="#">Театральная студия</a></li>
							</ul>
						</li>
						<li class="catalog-nav__item">
							<a href="#" class="icon-arrow-down">Для детей от 4-6 лет</a>
							<ul class="catalog-nav__sublist">
								<li><a href="#">Познавательное развитие</a></li>
								<li><a href="#">Комплексные развивающие занятия</a></li>
								<li><a href="#">Художественно-творческое развитие</a></li>
								<li><a href="#">Музыка вместе с мамой</a></li>
								<li><a href="#">Студия киномастерства</a></li>
								<li><a href="#">Театральная студия</a></li>
							</ul>
						</li>
						<li class="catalog-nav__item">
							<a href="#" class="icon-arrow-down">Для детей от 7-9 лет</a>
							<ul class="catalog-nav__sublist">
								<li><a href="#">Познавательное развитие</a></li>
								<li><a href="#">Комплексные развивающие занятия</a></li>
								<li><a href="#">Художественно-творческое развитие</a></li>
								<li><a href="#">Музыка вместе с мамой</a></li>
								<li><a href="#">Студия киномастерства</a></li>
								<li><a href="#">Театральная студия</a></li>
							</ul>
						</li>
						<li class="catalog-nav__item">
							<a href="#" class="icon-arrow-down">Мастер классы</a>
							<ul class="catalog-nav__sublist">
								<li><a href="#">Познавательное развитие</a></li>
								<li><a href="#">Комплексные развивающие занятия</a></li>
								<li><a href="#">Художественно-творческое развитие</a></li>
								<li><a href="#">Музыка вместе с мамой</a></li>
								<li><a href="#">Студия киномастерства</a></li>
								<li><a href="#">Театральная студия</a></li>
							</ul>
						</li>
						<li class="catalog-nav__item">
							<a href="#" class="icon-arrow-down">Курсы для взрослых</a>
							<ul class="catalog-nav__sublist">
								<li><a href="#">Познавательное развитие</a></li>
								<li><a href="#">Комплексные развивающие занятия</a></li>
								<li><a href="#">Художественно-творческое развитие</a></li>
								<li><a href="#">Музыка вместе с мамой</a></li>
								<li><a href="#">Студия киномастерства</a></li>
								<li><a href="#">Театральная студия</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	<!-- end header__bottom -->	

</header>
{% endblock %}
