{% extends "layouts/default.html" %}
{% set title="Для детей от 4 до 6 лет" %}
{% set bread = ["Главная", "Для детей от 4 до 6 лет "] %}
{% block content %}
<div class="breadcrumbs-wrapper">
	<div class="uk-container">
		{% include 'includes/breadcrumbs.html'%}
	</div>
</div>
<div class="content">
	<div class="content-text-block">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-1-1 uk-width-medium-1-2">
					<div class="title-h1">Комплексные развивающие занятия</div>
					<div class="small-title">для детей от 8 месяцев до 5 лет</div>
				</div>
				<div class="uk-width-1-1 uk-width-medium-1-2">
					<blockquote class="quote small-quote border-left align-right">
						Вы хотите быть уверены в том, что Ваш малыш развивается согласно своему возрасту? Для Вас важно ничего не упустить в его развитии? Тогда курс комплексных развивающих занятий специально для Вас!
					</blockquote>
				</div>
			</div>
		</div>
	</div>

	<div class="content-text-block">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-1-1 uk-width-medium-1-2">
					<p>
						Дошкольный возраст – время активного роста малыша, его физического и психологического становления как личности. Это самое благоприятное время для того, чтобы активно исследовать окружающий мир, обрести первых друзей, обогатить свою речь. Помочь ребенку пройти этот период весело и с пользой, подготовиться к дальнейшему обучению в школе помогут комплексные развивающие занятии для дошкольнико
					</p>
				</div>
				<div class="uk-width-1-1 uk-width-medium-1-2">
					<img src="img/complex-img-1.png" alt="" class="content-img img-right">
				</div>
			</div>
		</div>
	</div>
	
	<div class="content-text-block">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-medium-1-4 uk-hidden-small">
					<img src="img/airoplane.png" alt="" class="content-img img-left">
				</div>
				<div class="uk-width-1-1 uk-width-medium-3-4">
					<blockquote class="quote">
						<p>
							Каждый ребенок рождается с огромным потенциалом и готовностью развивать способности и таланты. Задача любящих родителей – создать условия, которые позволят воплотить в жизнь заложенное природой.
						</p> 
						<p>
							Уже с первых месяцев жизни малыши активно познают мир, впитывая, как губка, полезную информацию и обучаясь новым умениям. От того, насколько рано родители начнут стимулировать развитие своего малыша, зависят его успехи в школьном обучении и дальнейшей жизни.
						</p>
					</blockquote>
				</div>
			</div>
		</div>
	</div>

	<div class="content-text-block">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-1-1 uk-width-medium-1-2">
					<div class="title-h2">Как проходят занятия?</div>
					<p>
						Наши занятия предполагают частое чередование различных видов деятельности, поэтому ребенок будет гармонично развиваться, не испытывая при этом неудовлетворенности, усталости или неуверенности в своих силах. Все занятия построены исключительно в игровой форме, с использованием ярких доступных наглядных средств, под ритмичную или расслабляющую музыку.
					</p>
					<p>
						Возраст 1-5 лет – это время, когда ребенок постигает нелегкие азы математики, пробует силы в письме, рисовании и изготовлении поделок, учится чтению первых слов и предложений. Очень важна и физическая активность: физические упражнения, занятия гимнастикой, ритмикой, играми с различными предметами.
					</p>
				</div>
				<div class="uk-width-1-1 uk-width-medium-1-2">
					<img src="img/complex-img-2.png" alt="" class="content-img img-right">
				</div>
			</div>
		</div>
	</div>

	<div class="content-text-block">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-1-1 uk-width-medium-1-2">
					<img src="img/complex-img-3.png" alt="" class="content-img img-left">
				</div>
				<div class="uk-width-1-1 uk-width-medium-1-2">
					<div class="title-h2">Общая струтура занятий</div>
					<ul class="content-list">
						<li>
							Ритуал приветствия: дети настраиваются на занятие, приветствуют друг друга и педагога.
						</li>
						<li>
							Знакомство с окружающим миром: играем, «копаем», «стираем» и «гладим», проводим эксперименты с песком и водой и многое другое, что позволяет узнать о фруктах и овощах, одежде, профессиях, транспорте, частях тела, животных и птицах и т.д.
						</li>
						<li>
							Ритмика: малыши двигаются под музыку, учатся изображать животных, подпевают.
						</li>
						<li>
							Развитие речи: читаем и обсуждаем сказки и поучительные истории, учимся составлять рассказ по сюжетным картинкам, занимаемся артикуляционной гимнастикой.
						</li>
						<li>
							«Волшебные пальчики»: веселые пальчиковые игры для развития мелкой моторики рук.
						</li>
						<li>
							Упражнения на развитие внимания, памяти, мышления.
						</li>
						<li>
							Самомассаж с массажными мячиками под релаксирующую музыку.
						</li>
						<li>
							Упражнения на формирование математических представлений, умений ориентироваться в пространстве и времени, знакомство с цифрами и порядковым счётом.
						</li>
						<li>
							Упражнения с музыкальными инструментами: колокольчиками, бубенцами, барабанами, кастаньетами, металлофонами.
						</li>
						<li>
							Эстафета: дети ходят по массажным кочкам, мостикам и дорожкам, проползают через туннель, перешагивают через препятствия и т.д.
						</li>
						<li>
							Творчество: малыши рисуют, лепят, делают аппликации.
						</li>
						<li>
							Ритуал прощания: дети садятся в круг и вместе с педагогом подводят итоги занятия, делятся впечатлениями и закрепляют самые яркие моменты
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock content %}
