{% extends "layouts/default.html" %}
{% set title="Главная" %}
{% block content %}
	<!-- begin main-slider -->
	<div class="main-slider">
		<div class="slider">
			<div class="slide" style="background-image: url('img/main-slider-img-1-1440x450.png')">
				<div class="uk-container">
					<div class="main-slider__title">Открываем мир возможностей</div>
					<div class="main-slider__text">
						Все родители стремятся воспитать детей целеустремленными, смышлеными, инициативными и творческими людьми. Опытные работники нашего центра помогут реализовать это стремление.
					</div>
					<a href="" class="btn icon-calendar">Расписание занятий</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end main-slider -->
{% endblock %}
