{% extends "layouts/default.html" %}
{% set title="Отзывы" %}
{% set bread = ["Главная", "Отзывы"] %}
{% block content %}

<div class="breadcrumbs-wrapper">
	<div class="uk-container">
		{% include 'includes/breadcrumbs.html'%}
	</div>
</div>

<div class="content">
	<div class="uk-container">
		<div class="title-h1">Отзывы</div>
		<div class="review-small-title">
			<p>
				С удовольствием размещаем на этой страничке отзывы наших клиентов. Если Вы хотите оставить отзыв воспользуйтесь формой обратной связи.
			</p>
		</div>
		<div class="reviews-wrapper">
			<div class="review">
				<div class="review__name">Юлия</div>
				<div class="review__text">
					<p>
						Добрый день!!! Хотим выразить огромную благодарность и спасибо клубу ЧудоДетство!!! Наш ребенок ходил в клуб больше года с большим удовольствием (порой и вовсе уходить не хотел!).Хочется отметить работу преподавателей, которые проводят много занятий, каждый день дети узнают что-то новое, интересное и полезное. А сколько творческих работ?! У нас целая коллекция! Бережно храним и пополняем.
					</p>
					<p>
						Всегда приятно смотреть на успехи своего ребенка.
					</p>
					<p>
						Большое спасибо Лидии Михайловне и всему коллективу за Ваш труд, терпение и любовь к своей работе!!!
					</p>
				</div>
			</div>
			<div class="review">
				<div class="review__name">Юлия</div>
				<div class="review__text">
					<p>
						Добрый день!!! Хотим выразить огромную благодарность и спасибо клубу ЧудоДетство!!! Наш ребенок ходил в клуб больше года с большим удовольствием (порой и вовсе уходить не хотел!).Хочется отметить работу преподавателей, которые проводят много занятий, каждый день дети узнают что-то новое, интересное и полезное. А сколько творческих работ?! У нас целая коллекция! Бережно храним и пополняем.
					</p>
					<p>
						Всегда приятно смотреть на успехи своего ребенка.
					</p>
					<p>
						Большое спасибо Лидии Михайловне и всему коллективу за Ваш труд, терпение и любовь к своей работе!!!
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
