{% extends "layouts/default.html" %}
{% set title="Прайс-лист на лето" %}
{% set bread = ["Главная", "Прайс-лист на лето"] %}
{% block content %}
	<div class="content">
		<div class="uk-container">
			<div class="title-h1 uk-text-center uk-margin-large-top uk-margin-large-bottom">Прайс-лист на лето</div>
			<div class="uk-overflow-container">
				<table class="price" style="width: 99.88839285714286%;">
				<tbody>
				<tr class="table-head" style="height: 35px;">
					<td style="width: 25%;" rowspan="3">Наименование курса</td>
					<td style="width: 10%;" colspan="2" rowspan="2">Наполняемость группы</td>
					<td style="width: 7%;" rowspan="3">Возраст</td>
					<td style="width: 10%;" rowspan="3">Длительность занятия</td>
					<td style="width: 9%;" rowspan="3">Кол-во раз в неделю</td>
					<td style="width: 10%;" rowspan="3">Цена за пробное занятие</td>
					<td style="width: 10%;" rowspan="3">Цена за разовое посещение</td>
					<td style="width: 24%; text-align: center;" colspan="3">Летний абонемент</td>
				</tr>
				<tr class="table-head" style="height: 35px;">
				<td style="width: 4%;" rowspan="2">Кол-во занятий</td>
				<td style="width: 10%;" rowspan="2">Цена за занятие по абонементу в рублях</td>
				<td style="width: 10%;" rowspan="2">Летний курс в рублях</td>
				</tr>
				<tr class="table-head" style="height: 35px;">
				<td style="width: 5%;">MIN</td>
				<td style="width: 5%;">MAX</td>
				</tr>
				<tr style="height: 24px;">
				<td class="title-table" style="width: 71%; height: 24px;" colspan="11">КУРСЫ РАЗВИВАЮЩИХ ЗАНЯТИЙ ДЛЯ ДЕТЕЙ</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/?p=1310">Акробатика</a></td>
				<td style="width: 5%;">4</td>
				<td style="width: 5%;">8</td>
				<td style="width: 7%;">3-9 лет</td>
				<td style="width: 10%; text-align: center;">50 мин.</td>
				<td style="width: 9%; text-align: center;">2</td>
				<td style="width: 10%; text-align: center;">300</td>
				<td style="width: 10%; text-align: center;">НЕТ</td>
				<td style="width: 4%; text-align: center;">8</td>
				<td style="width: 10%; text-align: center;">540</td>
				<td style="width: 10%; text-align: center;">4320</td>
				</tr>
				<tr>
				<td style="width: 25%;" rowspan="2"><a href="http://chudodetstvo.com/gorodskoj-lager-dlya-detej-3-5-let/">Городской лагерь</a></td>
				<td style="width: 5%;" rowspan="2">4</td>
				<td style="width: 5%;" rowspan="2">10</td>
				<td style="width: 7%;">3-7 лет</td>
				<td style="width: 10%; text-align: center;">5 часов</td>
				<td style="width: 9%; text-align: center;">5</td>
				<td style="width: 10%; text-align: center;">300</td>
				<td style="width: 10%; text-align: center;">НЕТ</td>
				<td style="width: 4%; text-align: center;">10</td>
				<td style="width: 10%; text-align: center;">1200</td>
				<td style="width: 10%; text-align: center;">12000</td>
				</tr>
				<tr>
				<td style="width: 7%;">7-9 лет</td>
				<td style="width: 10%; text-align: center;">9 часов</td>
				<td style="width: 9%; text-align: center;">5</td>
				<td style="width: 10%; text-align: center;">300</td>
				<td style="width: 10%; text-align: center;">НЕТ</td>
				<td style="width: 4%; text-align: center;">10</td>
				<td style="width: 10%; text-align: center;">2000</td>
				<td style="width: 10%; text-align: center;">20000</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/letnyaya-masterskaya/">Летняя мастерская</a></td>
				<td style="width: 5%;">4</td>
				<td style="width: 5%;">8</td>
				<td style="width: 7%;">4-9 лет</td>
				<td style="width: 10%; text-align: center;">50 мин.</td>
				<td style="width: 9%; text-align: center;">1</td>
				<td style="width: 10%; text-align: center;">300</td>
				<td style="width: 10%; text-align: center;">НЕТ</td>
				<td style="width: 4%; text-align: center;">4</td>
				<td style="width: 10%; text-align: center;">720</td>
				<td style="width: 10%; text-align: center;">2880</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/muzy-ka-vmeste-s-mamoj/">Музыка вместе с мамой</a></td>
				<td style="width: 5%;">4</td>
				<td style="width: 5%;">8</td>
				<td style="width: 7%;">1-3 года</td>
				<td style="width: 10%; text-align: center;">30 мин.</td>
				<td style="width: 9%; text-align: center;">2</td>
				<td style="width: 10%; text-align: center;">300</td>
				<td style="width: 10%; text-align: center;">НЕТ</td>
				<td style="width: 4%; text-align: center;">8</td>
				<td style="width: 10%; text-align: center;">500</td>
				<td style="width: 10%; text-align: center;">4000</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/podgotovka-k-shkole/">Подготовка к школе</a></td>
				<td style="width: 5%;">4</td>
				<td style="width: 5%;">8</td>
				<td style="width: 7%;">5-7 лет</td>
				<td style="width: 10%; text-align: center;">60 мин.</td>
				<td style="width: 9%; text-align: center;">2</td>
				<td style="width: 10%; text-align: center;">300</td>
				<td style="width: 10%; text-align: center;">НЕТ</td>
				<td style="width: 4%; text-align: center;">8</td>
				<td style="width: 10%; text-align: center;">660</td>
				<td style="width: 10%; text-align: center;">5280</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/ritmika-s-e-lementami-horeografii/">Ритмика с элементами хореографии</a></td>
				<td style="width: 5%;">4</td>
				<td style="width: 5%;">8</td>
				<td style="width: 7%;">3-6 лет</td>
				<td style="width: 10%; text-align: center;">45 мин.</td>
				<td style="width: 9%; text-align: center;">2</td>
				<td style="width: 10%; text-align: center;">300</td>
				<td style="width: 10%; text-align: center;">НЕТ</td>
				<td style="width: 4%; text-align: center;">8</td>
				<td style="width: 10%; text-align: center;">540</td>
				<td style="width: 10%; text-align: center;">4320</td>
				</tr>
				<tr>
				<td style="width: 25%;" rowspan="2"><a href="http://chudodetstvo.com/robototehnika/">Робототехника</a></td>
				<td style="width: 5%;">4</td>
				<td style="width: 5%;">8</td>
				<td style="width: 7%;">5-6 лет</td>
				<td style="width: 10%; text-align: center;">60 мин.</td>
				<td style="width: 9%; text-align: center;">2</td>
				<td style="width: 10%; text-align: center;">300</td>
				<td style="width: 10%; text-align: center;">НЕТ</td>
				<td style="width: 4%; text-align: center;">8</td>
				<td style="width: 10%; text-align: center;">600</td>
				<td style="width: 10%; text-align: center;">4800</td>
				</tr>
				<tr>
				<td style="width: 5%;">4</td>
				<td style="width: 5%;">8</td>
				<td style="width: 7%;">7-9 лет</td>
				<td style="width: 10%; text-align: center;">90 мин.</td>
				<td style="width: 9%; text-align: center;">2</td>
				<td style="width: 10%; text-align: center;">300</td>
				<td style="width: 10%; text-align: center;">НЕТ</td>
				<td style="width: 4%; text-align: center;">8</td>
				<td style="width: 10%; text-align: center;">900</td>
				<td style="width: 10%; text-align: center;">7200</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/studiya-kinomasterstva/">Студия киномастерства</a></td>
				<td style="width: 5%;">4</td>
				<td style="width: 5%;">8</td>
				<td style="width: 7%;">3-9 лет</td>
				<td style="width: 10%; text-align: center;">60 мин.</td>
				<td style="width: 9%; text-align: center;">2</td>
				<td style="width: 10%; text-align: center;">300</td>
				<td style="width: 10%; text-align: center;">НЕТ</td>
				<td style="width: 4%; text-align: center;">8</td>
				<td style="width: 10%; text-align: center;">700</td>
				<td style="width: 10%; text-align: center;">5600</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/sovremenny-e-tantsy/">Современные танцы</a></td>
				<td style="width: 5%;">4</td>
				<td style="width: 5%;">8</td>
				<td style="width: 7%;">7-9 лет</td>
				<td style="width: 10%; text-align: center;">50 мин.</td>
				<td style="width: 9%; text-align: center;">2</td>
				<td style="width: 10%; text-align: center;">300</td>
				<td style="width: 10%; text-align: center;">НЕТ</td>
				<td style="width: 4%; text-align: center;">8</td>
				<td style="width: 10%; text-align: center;">540</td>
				<td style="width: 10%; text-align: center;">4320</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/shahmaty/">Шахматы</a></td>
				<td style="width: 5%;">4</td>
				<td style="width: 5%;">8</td>
				<td style="width: 7%;">5-9 лет</td>
				<td style="width: 10%; text-align: center;">60 мин.</td>
				<td style="width: 9%; text-align: center;">1</td>
				<td style="width: 10%; text-align: center;">300</td>
				<td style="width: 10%; text-align: center;">НЕТ</td>
				<td style="width: 4%; text-align: center;">4</td>
				<td style="width: 10%; text-align: center;">540</td>
				<td style="width: 10%; text-align: center;">2160</td>
				</tr>
				<tr style="height: 24px;">
				<td style="width: 24.005305039787796%; height: 24px;"><a href="http://chudodetstvo.com/teatral-naya-studiya-2/">Театральная студия</a></td>
				<td style="width: 5%;">4</td>
				<td style="width: 5%;">8</td>
				<td style="width: 7%;">3-9 лет</td>
				<td style="width: 10%; text-align: center;">60 мин.</td>
				<td style="width: 9%; text-align: center;">2</td>
				<td style="width: 10%; text-align: center;">300</td>
				<td style="width: 10%; text-align: center;">НЕТ</td>
				<td style="width: 4%; text-align: center;">8</td>
				<td style="width: 10%; text-align: center;">600</td>
				<td style="width: 10%; text-align: center;">&nbsp;4800</td>
				</tr>
				<tr style="height: 24px;">
				<td class="title-table" style="width: 93.65467506631299%; height: 24px;" colspan="11">КОРРЕКЦИОННЫЕ ЗАНЯТИЯ ДЛЯ ДЕТЕЙ</td>
				</tr>
				<tr style="height: 24px;">
				<td class="light-title-table" style="width: 93.65467506631299%; height: 24px;" colspan="11">&nbsp;ДИАГНОСТИКА</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/kompleksnaya-diagnostika/">Психологическая диагностика и первичная консультация</a></td>
				<td style="width: 10%;" colspan="2">инд.</td>
				<td style="width: 7%;">с 3-х лет</td>
				<td style="width: 10%; text-align: center;">60 мин.</td>
				<td style="width: 9%; text-align: center;">1</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">1500</td>
				<td style="width: 4%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/kompleksnaya-diagnostika/">Логопедическая диагностика и первичная консультация</a></td>
				<td style="width: 10%;" colspan="2">инд.</td>
				<td style="width: 7%;">с 3-х лет</td>
				<td style="width: 10%; text-align: center;">60 мин.</td>
				<td style="width: 9%; text-align: center;">1</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">1500</td>
				<td style="width: 4%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				</tr>
				<tr style="height: 24px;">
				<td class="light-title-table" style="width: 93.65467506631299%; height: 24px;" colspan="11">ИНДИВИДУАЛЬНЫЕ ЗАНЯТИЯ</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/korrektsiya/">Запуск речи у не говорящего ребенка</a></td>
				<td style="width: 10%;" colspan="2">инд.</td>
				<td style="width: 7%;">с 2-х лет</td>
				<td style="width: 10%; text-align: center;">30 мин.</td>
				<td style="width: 9%; text-align: center;">По запросу</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">1200</td>
				<td style="width: 4%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/korrektsiya/">Запуск речи у не говорящего ребенка</a></td>
				<td style="width: 10%;" colspan="2">инд.</td>
				<td style="width: 7%;">с 3-х лет</td>
				<td style="width: 10%; text-align: center;">45 мин.</td>
				<td style="width: 9%; text-align: center;">По запросу</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">1000</td>
				<td style="width: 4%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/korrektsiya/">Коррекция письменной и устной речи</a></td>
				<td style="width: 10%;" colspan="2">инд.</td>
				<td style="width: 7%;">с 5 лет</td>
				<td style="width: 10%; text-align: center;">45 мин.</td>
				<td style="width: 9%; text-align: center;">По запросу</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">1200</td>
				<td style="width: 4%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/korrektsiya/">Психологическая коррекция</a></td>
				<td style="width: 10%;" colspan="2">инд.</td>
				<td style="width: 7%;">с 3-х лет</td>
				<td style="width: 10%; text-align: center;">60 мин.</td>
				<td style="width: 9%; text-align: center;">По запросу</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">1200</td>
				<td style="width: 4%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				</tr>
				<tr style="height: 24px;">
				<td class="light-title-table" style="width: 93.65467506631299%; height: 24px;" colspan="11">ЗАНЯТИЯ В МИНИ-ГРУППАХ</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/korrektsiya/">Логопед</a></td>
				<td style="width: 5%;">2</td>
				<td style="width: 5%;">3</td>
				<td style="width: 7%;">с 3-х лет</td>
				<td style="width: 10%; text-align: center;">45 мин.</td>
				<td style="width: 9%; text-align: center;">По запросу</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">800</td>
				<td style="width: 4%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/korrektsiya/">Психолог</a></td>
				<td style="width: 5%;">2</td>
				<td style="width: 5%;">3</td>
				<td style="width: 7%;">с 3-х лет</td>
				<td style="width: 10%; text-align: center;">45 мин.</td>
				<td style="width: 9%; text-align: center;">По запросу</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">800</td>
				<td style="width: 4%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				</tr>
				<tr style="height: 24px;">
				<td class="title-table" style="width: 93.65467506631299%; height: 24px;" colspan="11">КУРСЫ ДЛЯ ВЗРОСЛЫХ</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/zanyatie-dlya-roditelej/">Body Ballet</a></td>
				<td style="width: 5%;">3</td>
				<td style="width: 5%;">6</td>
				<td style="width: 7%;">с 18 лет</td>
				<td style="width: 10%; text-align: center;">60 мин.</td>
				<td style="width: 9%; text-align: center;">2</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">920</td>
				<td style="width: 4%; text-align: center;">8</td>
				<td style="width: 10%; text-align: center;">720</td>
				<td style="width: 10%; text-align: center;">5760</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/zanyatie-dlya-roditelej/">Стретчинг</a></td>
				<td style="width: 5%;">3</td>
				<td style="width: 5%;">6</td>
				<td style="width: 7%;">с 18 лет</td>
				<td style="width: 10%; text-align: center;">60 мин.</td>
				<td style="width: 9%; text-align: center;">2</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">920</td>
				<td style="width: 4%; text-align: center;">8</td>
				<td style="width: 10%; text-align: center;">720</td>
				<td style="width: 10%; text-align: center;">5760</td>
				</tr>
				<tr style="height: 24px;">
				<td class="title-table" style="width: 93.65467506631299%; height: 24px;" colspan="11">МЕРОПРИЯТИЯ ВЫХОДНОГО ДНЯ</td>
				</tr>
				<tr>
				<td style="width: 25%;">Детские квесты</td>
				<td style="width: 5%;">5</td>
				<td style="width: 5%;">10</td>
				<td style="width: 7%;">5-9 лет</td>
				<td style="width: 10%; text-align: center;">4 часа</td>
				<td style="width: 9%; text-align: center;">1 раз в месяц</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">1700</td>
				<td style="width: 4%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/uvlekatel-ny-e-vy-hodny-e/">Мастер-класс/Шоу программа</a></td>
				<td style="width: 5%;">5</td>
				<td style="width: 5%;">25</td>
				<td style="width: 7%;">Любой</td>
				<td style="width: 10%; text-align: center;">60-90 мин.</td>
				<td style="width: 9%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">900</td>
				<td style="width: 4%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/uvlekatel-ny-e-vy-hodny-e/">Мастер-класс/Шоу программа</a></td>
				<td style="width: 5%;">5</td>
				<td style="width: 5%;">25</td>
				<td style="width: 7%;">Любой</td>
				<td style="width: 10%; text-align: center;">90-150 мин.</td>
				<td style="width: 9%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">1300</td>
				<td style="width: 4%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/uvlekatel-ny-e-vy-hodny-e/">Мастер-класс/Шоу программа</a></td>
				<td style="width: 5%;">5</td>
				<td style="width: 5%;">25</td>
				<td style="width: 7%;">Любой</td>
				<td style="width: 10%; text-align: center;">2,5-4 часа</td>
				<td style="width: 9%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">1700</td>
				<td style="width: 4%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				</tr>
				<tr style="height: 24px;">
				<td class="title-table" style="width: 93.65467506631299%; height: 24px;" colspan="11">ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/yarkie-dni-rozhdeniya/">Дни рождения/праздники — аренда помещения</a></td>
				<td style="width: 5%;">—</td>
				<td style="width: 5%;">—</td>
				<td style="width: 7%;">Любой</td>
				<td style="width: 10%; text-align: center;">2 часа</td>
				<td style="width: 9%; text-align: center;">По запросу</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">3000</td>
				<td style="width: 4%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				</tr>
				<tr>
				<td style="width: 25%;">Зал в аренду</td>
				<td style="width: 5%;">—</td>
				<td style="width: 5%;">—</td>
				<td style="width: 7%;">Любой</td>
				<td style="width: 10%; text-align: center;">1 час</td>
				<td style="width: 9%; text-align: center;">По запросу</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">600</td>
				<td style="width: 4%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				</tr>
				<tr>
				<td style="width: 25%;">Кабинет в аренду</td>
				<td style="width: 5%;">—</td>
				<td style="width: 5%;">—</td>
				<td style="width: 7%;">Любой</td>
				<td style="width: 10%; text-align: center;">1 час</td>
				<td style="width: 9%; text-align: center;">По запросу</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">500</td>
				<td style="width: 4%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				</tr>
				<tr>
				<td style="width: 25%;"><a href="http://chudodetstvo.com/yarkie-dni-rozhdeniya/">Организация дней рождения/ праздников</a></td>
				<td style="width: 5%;">—</td>
				<td style="width: 5%;">—</td>
				<td style="width: 7%;">Любой</td>
				<td style="width: 10%; text-align: center;">2 часа</td>
				<td style="width: 9%; text-align: center;">По запросу</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">9000</td>
				<td style="width: 4%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				</tr>
				<tr>
				<td style="width: 25%;">Пребывание под присмотром</td>
				<td style="width: 5%;">—</td>
				<td style="width: 5%;">—</td>
				<td style="width: 7%;">Любой</td>
				<td style="width: 10%; text-align: center;">30 мин.</td>
				<td style="width: 9%; text-align: center;">По запросу</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">150</td>
				<td style="width: 4%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				</tr>
				<tr>
				<td style="width: 25%;">Творческий мастер-класс на заказ</td>
				<td style="width: 5%;">—</td>
				<td style="width: 5%;">—</td>
				<td style="width: 7%;">Любой</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 9%; text-align: center;">По запросу</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">Договорная</td>
				<td style="width: 4%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				</tr>
				<tr>
				<td style="width: 25%;">Фото / Видео</td>
				<td style="width: 5%;">—</td>
				<td style="width: 5%;">—</td>
				<td style="width: 7%;">Любой</td>
				<td style="width: 10%; text-align: center;">1 час</td>
				<td style="width: 9%; text-align: center;">По запросу</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">2000</td>
				<td style="width: 4%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				<td style="width: 10%; text-align: center;">—</td>
				</tr>
				</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
